@charset "UTF-8";  

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1:#3E83A8;
    --cor2:#C6A781;
    --cor3:#C9423A;
   --cor4: #3C8C54;
   --fonte1: "Sriracha", cursive;
   --fonte2: "Roboto", sans-serif;
   --fonte3: "Dancing Script", cursive;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: var(--cor2);
    text-align: center;
    padding: 30px;
    
}
header > h1{
    font-size: 40px;
   font-variant: small-caps;
   
}
section{
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 3.5vw;
    font-family: var(--fonte1);
}
.normal{
    background-color: rgb(15, 15, 15);
    color: white;
  
}

    

.foto{
    background-color: var(--cor2);
    color: rgb(0, 0, 0);
   background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.foto > p{
background-color: rgba(0, 0, 0, 0.493);
color: white;
display: inline-block;
padding-left: 5px;

}
#img01{
    background-image: url(fotos/ChatGPT\ Image\ 30\ de\ nov.\ de\ 2025\,\ 09_50_49.png);
    
}
#img02{
    background-image: url(fotos/img02.jpg);
   
}
#img03{
    background-image: url("fotos/img03.png");
    background-position: center center;
}
#img03 > p{
background-color: rgba(255, 255, 255, 0.096);
padding-left: 5px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
footer{
    background-color: var(--cor2);
    text-align: center;
   padding: 10px;
    margin: auto;
    color: black;
}